/* @import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Dancing+Script&family=Indie+Flower&family=Lobster&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #080808;
}

h1 {
  font-family: 'Lobster', cursive;
  color: #ff4500;
  font-size: 3rem;
  text-shadow: -5px 0 0 #5e5e64;
}

h2 {
  font-family: 'Dancing Script', cursive;
  color: #f0cabc;
  font-size: 3rem;
  text-shadow: -5px 0 0 #5e5e64;
}

.yourName{
  color: #fff;
}

.App{
  display: flex;
  justify-content: center;
  width: 80%;
  flex-direction: column;
  gap: 40px;
}

.class1{
  font-size:  90px;
}

.class2{
  font-size: 10px;
<<<<<<< HEAD
} */


*{
  margin: 0;
}

.contentBackground{
  background-image: url(./Images/fondo1.jpg) ;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment:fixed ;
  height: 100vh
}


.nav{
  background: linear-gradient(#322b79,#594fc400);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  color: rgb(255, 255, 255);
  border-width: 5px;
  font-family: Vegur, 'PT Sans', Verdana, sans-serif;
  
}

.contentMain{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
}

.ul{
  list-style: none;
  display: flex;
  gap: 30px;
  margin-right: 20px;
}

.tituloNav{
  margin-left: 20px ;
  display: flex;
  align-items: center;
}

.IconNav{
  font-size: 30px;
}

.containerForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.contentInputsData{

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 60%;
  background: rgba(48, 48, 49, 0.385);
  border-style: solid;
  border-width: 1px;
}


.elements{
  margin-top: 130px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.elements button{
  background-color: #322b79;
  border-style:none ;
}

.elements a{
  text-decoration: none;
  color: #fff;
  font-family: Vegur, 'PT Sans', Verdana, sans-serif;
}



.contentForm{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ContentData{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.data{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.inputs{
  border-style:none ;
  border-bottom: solid #322b79;
  background: rgba(34, 34, 35, 0.364);

  width: 80%;
  height: 25px;
}

.btnEye{
  background-color: rgba(0, 0, 0, 0);
  font-size: 18px;
  height: 25px;
  border-style: none;
}

.contentTitleForm{
  font-family: Vegur, 'PT Sans', Verdana, sans-serif;
  color: #fff;
}

/* .contentForm{
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-radius: 0px 0 20px 20px;
}

.contentTitleForm{
  background-color: #1e2124;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
}

.contentInputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0 20px 0;
  width: 100%;
  gap: 20px;
}

.titleForm{
  color: #fff;
  font-size: 25px;
}

.inputs{
  width: 70%;
  height: 25px;
}

.contentPasswordBtn{
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: center;
}

.inputPassword{
  width: 70%;
  height: 100%;
}

.btnEye{
  font-size: 15px;
  border-style: none;
  background-color: #fff;
  position: absolute; 
  position: absolute;
  right: 1rem;



.btnRegister{
  width: 70%;
  height: 35px;
  background-color: #1e2124;
  color: #fff;
}

.btnRegister:hover{
  font-weight: 100;
  border-style: none;
  border-bottom: solid #7289da;
  border-width: 5px;
}

.contentInputsData{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}


.reactExercise{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-color: #ff4500;
}

.timeNow{
  color: #ffffff;
}

.timeText{
  color:#fff;
} 

*/
